{% extends 'resume/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}
<html lang="en">


<body>

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
        <h1>Siddhesh Pisal</h1>
        <p>I'm a <span class="typed"
                       data-typed-items="Data Scientist, Data Engineer, DevOps Engineer, Full Stack Developer,
                        Freelancer"></span>
        </p>
        <div class="social-links">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="https://www.instagram.com/pissall/" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="https://stackoverflow.com/users/8805315/pissall" class="stack-overflow"><i
                    class="bx bxl-stack-overflow"></i></a>
            <a href="https://www.linkedin.com/in/siddhesh-pisal/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>About</h2>
                <p>Siddhesh is a Full Stack Data Scientist and Engineer with 7+ years of experience across different
                    business domains. He loves building data driven products, finding patterns, trends and solving real
                    world problems with data driven insights.</p>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <img src="{% static 'resume/img/profile-img1.jpg' %}" class="img-fluid" alt="">
                </div>
                <div class="col-lg-8 pt-4 pt-lg-0 content">
                    <h3>Full Stack Data Scientist and Engineer</h3>
                    <p class="fst-italic">
                        A computer science enthusiast strongly inclined towards AI/ML, IoT, Big Data,
                        Entrepreneurship and the Art of Coding.
                    </p>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong>
                                    <span>20 Jan 1995</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong>
                                    <span>www.aiprizm.com</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong>
                                    <span>+91 8369 593260</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>City:</strong>
                                    <span>Mumbai, India</span></li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>27</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Masters</span>
                                </li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>siddheshpisal.work@gmail.com</span>
                                </li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong>
                                    <span>Available</span></li>
                            </ul>
                        </div>
                    </div>
                    <p>
                        Siddhesh is research-oriented and a quick learner with strong background in computer and data
                        science. His expertise lies in Machine Learning, Time Series Analysis and Forecasting, Anomaly
                        Detection,
                        Big Data, Automation, Product Development and Project Management.
                        Siddhesh is experienced in all phases of product development such as pre-sales, project
                        management, project delivery, estimation, system analysis, design, operations, development and
                        testing.
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Facts</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                    consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
                    fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div>

            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="count-box">
                        <i class="bi bi-emoji-smile"></i>
                        <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
                              class="purecounter"></span>
                        <p>Happy Clients</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                    <div class="count-box">
                        <i class="bi bi-journal-richtext"></i>
                        <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
                              class="purecounter"></span>
                        <p>Projects</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                    <div class="count-box">
                        <i class="bi bi-headset"></i>
                        <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1"
                              class="purecounter"></span>
                        <p>Hours Of Support</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                    <div class="count-box">
                        <i class="bi bi-award"></i>
                        <span data-purecounter-start="0" data-purecounter-end="25" data-purecounter-duration="1"
                              class="purecounter"></span>
                        <p>Awards</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Skills</h2>
                <p>Siddhesh's expertise lies in synthesizing Machine learning, Predictive Analytics and Big data
                    technologies into integrated solutions. He has excellent knowledge of Machine Learning, Mathematical
                    Modeling and Operations Research. He is fluent with R, Python, C, Apache Spark, Docker, Web
                    Developments, RDBMS and NoSQL databases. He has a deep understanding & exposure of the Big Data
                    Ecosystem.</p>
            </div>

            <div class="row skills-content">

                <div class="col-lg-6">
                    {% for key, value in skills.items %}
                    {% if key == "skill1" %}
                    {% for skill in value %}
                    <div class="progress">
                        <span class="skill">{{skill.skill}} <i class="val">{{skill.rating}}%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{skill.rating}}"
                                 aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endfor %}

                </div>

                <div class="col-lg-6">
                    {% for key, value in skills.items %}
                    {% if key == "skill2" %}
                    {% for skill in value %}
                    <div class="progress">
                        <span class="skill">{{skill.skill}} <i class="val">{{skill.rating}}%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{skill.rating}}"
                                 aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endfor %}

                </div>

            </div>

        </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Resume</h2>
                <p>Siddhesh has experience across different domains such as CPG, Insurance, Retail, Manufacturing,
                    National Defense, Healthcare, Telecom. He has experience in designing and executing complex business
                    problems and building highly scalable fault-tolerant systems. He has managed cross-functional
                    teams to work in close collaboration with analytics, engineering and stakeholders</p>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <h3 class="resume-title">Summary</h3>
                    <div class="resume-item pb-0">
                        <h4>Siddhesh Pisal</h4>
                        <p><em>Data Scientist and Full Stack Engineer with 7 years of experience across different
                            domains (CPG, Insurance, Retail, Manufacturing, National Defense, Healthcare, Telecom).
                            Strongly inclined towards machine learning, big data, IoT, and the art of coding. Adept at
                            finding patterns and trends, building data-driven products, and solving real-world problems
                            with data-driven insights. </em></p>
                        <ul>
                            <li>Mumbai, Maharashtra, India</li>
                            <li>+91-8369593260</li>
                            <li>siddheshpisal.work@gmail.com</li>
                        </ul>
                    </div>

                    <h3 class="resume-title">Education</h3>
                    {% for school in education %}
                    <div class="resume-item">
                        <h4>{{school.cource}}</h4>
                        <h5>{{school.start_year}} - {{school.end_year}}</h5>
                        <p><em>{{school.school}}, {{school.location}}</em></p>
                        <p>{{school.writeup}}</p>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-lg-6">
                    <h3 class="resume-title">Professional Experience</h3>
                    {% for exp in experience %}
                    <div class="resume-item">
                        <h4>{{exp.designation}}</h4>
                        <h5>{{exp.start_year}} - {{exp.end_year}}</h5>
                        <p><em>{{exp.workplace}}, {{exp.location}} </em></p>
                        {{exp.experience_ul | safe}}
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Portfolio</h2>
                <p>Siddhesh's work consists of designing and developing AIML capabilities and B2B applications.
                He has developed or led development of several products for reducing operational costs, improving
                operation efficiency using automation, machine learning, business analytics etc., increasing profits and
                studying customer behavior. He has worked with more than 50 clients including cutting-edge startups,
                Fortune 500 companies as well as National Defense Agencies.</p>
            </div>

            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-app">App</li>
                        <li data-filter=".filter-card">Card</li>
                        <li data-filter=".filter-web">Web</li>
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="{% static 'resume/img/portfolio/cuddle.png' %}" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Crux Intelligence</h4>
                            <p>App</p>
                            <div class="portfolio-links">
                                <a href="{% static 'resume/img/portfolio/cuddle.png' %}"
                                   data-gallery="portfolioGallery"
                                   class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                                <a href="https://cruxintelligence.com/" class="portfolio-details-lightbox"
                                   data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="{% static 'resume/img/portfolio/eugenie-2.png' %}" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Eugenie</h4>
                            <p>App</p>
                            <div class="portfolio-links">
                                <a href="{% static 'resume/img/portfolio/eugenie-2.png' %}"
                                   data-gallery="portfolioGallery"
                                   class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                                <a href="https://eugenie.ai/" class="portfolio-details-lightbox"
                                   data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="{% static 'resume/img/portfolio/fastaxhelp.png' %}" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Fastaxhelp</h4>
                            <p>Web</p>
                            <div class="portfolio-links">
                                <a href="{% static 'resume/img/portfolio/fastaxhelp.png' %}"
                                   data-gallery="portfolioGallery"
                                   class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                                <a href="http://www.fastaxhelp.com/" class="portfolio-details-lightbox"
                                   data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

<!--                <div class="col-lg-4 col-md-6 portfolio-item filter-card">-->
<!--                    <div class="portfolio-wrap">-->
<!--                        <img src="{% static 'resume/img/portfolio/portfolio-4.jpg' %}" class="img-fluid" alt="">-->
<!--                        <div class="portfolio-info">-->
<!--                            <h4>Card 2</h4>-->
<!--                            <p>Card</p>-->
<!--                            <div class="portfolio-links">-->
<!--                                <a href="{% static 'resume/img/portfolio/portfolio-4.jpg' %}" data-gallery="portfolioGallery"-->
<!--                                   class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>-->
<!--                                <a href="portfolio-details.html" class="portfolio-details-lightbox"-->
<!--                                   data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>

        </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Testimonials</h2>
            </div>

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="{% static 'resume/img/testimonials/testimonials-1.jpg' %}" class="testimonial-img"
                                 alt="">
                            <h3>Saul Goodman</h3>
                            <h4>Ceo &amp; Founder</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit
                                rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam,
                                risus at semper.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="{% static 'resume/img/testimonials/testimonials-2.jpg' %}" class="testimonial-img"
                                 alt="">
                            <h3>Sara Wilsson</h3>
                            <h4>Designer</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid
                                cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet
                                legam anim culpa.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="{% static 'resume/img/testimonials/testimonials-3.jpg' %}" class="testimonial-img"
                                 alt="">
                            <h3>Jena Karlis</h3>
                            <h4>Store Owner</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam
                                duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="{% static 'resume/img/testimonials/testimonials-4.jpg' %}" class="testimonial-img"
                                 alt="">
                            <h3>Matt Brandon</h3>
                            <h4>Freelancer</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat
                                minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore
                                labore illum veniam.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="{% static 'resume/img/testimonials/testimonials-5.jpg' %}" class="testimonial-img"
                                 alt="">
                            <h3>John Larson</h3>
                            <h4>Entrepreneur</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster
                                veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam
                                culpa fore nisi cillum quid.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Contact</h2>
            </div>

            <div class="row mt-1">

                <div class="col-lg-4">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Location:</h4>
                            <p>Shivneri, Pandurangwadi Road no. 4, Goregaon East, Mumbai - 400063</p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>siddheshpisal.work@gmail.com</p>
                        </div>

                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Call:</h4>
                            <p>+91 8369 593260</p>
                        </div>

                    </div>

                </div>

                <div class="col-lg-8 mt-5 mt-lg-0">

                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                       required>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="email" class="form-control" name="email" id="email"
                                       placeholder="Your Email" required>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                                   required>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="5" placeholder="Message"
                                      required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center">
                            <button type="submit">Send Message</button>
                        </div>
                    </form>

                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->

{% block page_js %}
<script type='text/javascript'>

  $(document).ready(function(){

    // AJAX for posting
    function contact_us() {
        $.ajax({
            headers: {'X-Requested-With': 'XMLHttpRequest'},
            url : "{% url 'contact_us' %}", // the endpoint
            type : "POST", // http method
            data : {
              name: $('#id_name').val(),
              subject: $('#id_subject').val(),
              email: $('#id_email').val(),
              message: $('#id_message').val(),
              csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            }, // data sent with the post request
            // handle a successful response
            success : function(json) {
                $('#id_name').val(''); // remove the value from the input
                $('#id_subject').val(''); // remove the value from the input
                $('#id_email').val(''); // remove the value from the input
                $('#id_message').val('');
                $(".sent-message").addClass("d-block")
            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                $(".error-message").addClass("d-block")
                //console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    }

    // Submit post on submit
    $('.php-email-form').off().on('submit', function(event){
        event.preventDefault();
        contact_us();
    });

    $('.facts').hide();
    $('.testimonials').hide();

})




</script>

{% endblock page_js %}

{% endblock content %}